body{
    background-color: #FEFEFA;
    font-family: "Roboto Thin";
}

.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.navigation{
    position: fixed;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background: #4c80bb;
    width : 100%;
    height: 50px;
}

label.logo{
    left: 0;
    color: white;
    font-size: 25px;
    line-height: 60px;
    padding : 0 40px;
    font-weight: bold;
}

nav ul{
    float : right;
    margin-right: 20px;

}

nav ul li{
    display: inline-block;
    line-height: 36px;
    margin: 0 5px;

}

nav ul li a{
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #89ABE3FF;
    color: 	black;
    transition: .5s;
}

main {margin-top: 60px;}

#currentCharacters, #favouriteCharacters{
    font-size: 1.6em;
    text-decoration: none;
}

#favouriteCharacters nav li, #currentCharacters nav li  {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    width: 250px;
    margin: 10px;
    background-color: #2BAE66FF;
}
#favouriteCharacters nav li a , #currentCharacters nav li a{
    text-transform: uppercase;
    text-decoration: none;

}

#accountSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.firstLabel {
    display: inline-block;
    width: 200px;
}

#confirmation {
    right: 200px;
}

#dialogH2 {
    text-align: center;
}

.materialTable {
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    min-width: 400px;
}
.materialTable thead tr {
    background-color: #2BAE66FF;
}